<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>50642779683-sue0v9o92muitk1ulsfvlk62ah3tam2t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.50642779683-sue0v9o92muitk1ulsfvlk62ah3tam2t</string>
	<key>API_KEY</key>
	<string>AIzaSyCCsPXODCIozQSRdkobyjMuVbjW9SftMDw</string>
	<key>GCM_SENDER_ID</key>
	<string>50642779683</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>abrini.MarvelChallenge</string>
	<key>PROJECT_ID</key>
	<string>marvelchallenge-2449a</string>
	<key>STORAGE_BUCKET</key>
	<string>marvelchallenge-2449a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:50642779683:ios:38aa2c6563c109a7b67b96</string>
</dict>
</plist>